body { font-family: Verdana,Arial,sans-serif; margin: 0px;}
#wrapper { margin-left: auto; margin-right: auto; width: 700px; }

#top a:visited { color: blue;}
#top { height: 20px; border-bottom: 1px solid #ccc; text-align: right; font-size: 12px; padding-right: 5px; padding-top: 4px; }

#header { margin-left: auto; margin-right: auto; width: 670px; height: 125px;}
#header img { margin-right: 10px;}
#header h1 { font-size: 42px; margin-top: 20px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;}
#header h2 { font-size: x-large; margin: 0px; }

.step span { color: white; background-color: #b10026; padding: 1px; padding-left: 4px; padding-right: 4px;}
.step.inactive span { background-color: gray;}
.step.inactive { color: gray; }

h3 { margin-top: 0px;}
h4 { margin-bottom: 0px;}

table td { padding-left: 10px; padding-top: 4px;}

form div { margin-top: 10px; }

label { display: block; font-size: smaller;}

a:visited { color: blue;}

#content { border-top: 3px solid #d50025; background: #eee; padding: 10px; }
#primary { background: white; width: 660px; padding: 10px;}
h4 { font-size: smaller; }
