body { font-family: Verdana,Arial,sans-serif; margin: 0px;}
#wrapper, #top > div { margin-left: auto; margin-right: auto; width: 700px; position: relative;}

#top a:visited { color: blue;}
#top { height: 20px; border-bottom: 1px solid #ccc; text-align: right; font-size: 12px; padding-right: 5px; padding-top: 4px; }

#header { margin-left: auto; margin-right: auto; width: 670px; height: 125px;}
#header img { margin-right: 10px;}
#header h1 { font-size: 42px; margin-top: 20px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;}
#header h2 { font-size: x-large; margin: 0px; }
#new-event-link {position: absolute; right: 0px; padding: 3px 5px; background-color:#d50025;}
#new-event-link a {color: #fff; text-decoration: none;}
body.new #new-event-link {display: none;}

.step span { color: white; background-color: #b10026; padding: 1px; padding-left: 4px; padding-right: 4px;}
.step.inactive span { background-color: gray;}
.step.inactive { color: gray; }

h3 { margin-top: 0px;}
h4 { margin-bottom: 0px;}

table{ border-collapse: collapse; border-spacing: 0;}
table td { padding-top: 8px; padding-left: 4px; vertical-align: top; }
table td span { font-size: smaller;}
table td.first { width: 110px; padding-right: 20px; }
#terms h3 {margin-top: 10px; margin-bottom: 0px;}
#terms div { font-size: 11px; }
#terms ol { padding-left: 25px;}
#terms li { margin-top: 10px;}
nobr label { display: inline;}

#log-list {width:100%;}
#log-list th {text-align: left;}
#log-list .desc-line {border-bottom: 1px solid #e0e0e0; line-height: 5px;}

form div { margin-top: 10px; }

label { display: block; font-size: smaller;}

a:visited { color: blue;}
h3 a {text-decoration: none; color:#0000bb;}

#content { border-top: 3px solid #d50025; background: #eee; padding: 10px; }
#primary { background: white; width: 660px; padding: 10px; line-height: 1.5;}
#secondary {font-size: 80%;}

h4 { font-size: smaller; }

.b-block {overflow: auto;}
.b-label {float: left; width: 150px; font-weight: bold;}
.b-data {float: left; width: 500px;}

.thin-border, .thinner-border {background-color: #ff0000; margin: 10px 0px;}
.thin-border {height: 2px;}
.thinner-border {height: 1px;}

.room-listing {font-size: 90%;}

.clearer {clear: both;}

/* for DatePicker widget */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 3px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/static/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 85px;
	float: right;
}

/* menu */
#menu {float: right; margin: 10px; font-size: smaller;}
.emph {font-weight: bold;}
#menu .current {text-decoration: none; color: #000; cursor: tex;}