{% extends 'base.html' %}
{% block content %}
<div id="menu" style="float: right; margin: 10px; font-size: smaller;">
	Approved | <a href="/pending">Pending</a> | <a href="/new" style="font-weight: bold;">New Event</a>
</div>

<div id="primary">
	<h3>Upcoming Events</h3>
	
	{% regroup events by start_date as grouped_events %}
	{% for events in grouped_events %}
	<h4>{% ifequal events.grouper today.date %}<span style="text-decoration:underline;">Today</span> - {% endifequal %}{% ifequal events.grouper tomorrow.date %}<span style="text-decoration:underline;">Tomorrow</span> - {% endifequal %}{{events.grouper|date:"l, F j"}}</h4>
	<table>
	  {% for event in events.list %}
		<tr><td width="75">{{event.start_time|date:"g:iA"|lower}}</td><td><a {% if event.is_canceled %}style="text-decoration: line-through;"{% endif %} href="/event/{{event.key.id}}-{{event.name|slugify}}">{{event.name}}</a> {% if event.is_canceled %}<span style="color: white; font-size: x-small; padding: 2px; background: gray">canceled</span>{% endif %}</td></tr>
		{% endfor %}
	</table>
	{% endfor %}
	
		<p><a href="/past" style="font-size: smaller;">&larr; Past Events</a></p>
		
		<div style="font-size: x-small; float: right; color: gray;">{{ today }}</div>
		<p style="font-size: x-small;">Alternative formats: <a href="/events.ics">iCal</a> | RSS | JSON</p>
</div>


{% endblock %}