{% extends 'base.html' %}
{% block content %}
<div id="menu" style="float: right; margin: 10px; font-size: smaller;">
	<a href="/">Approved</a> | <a href="/pending">Pending</a> | <a href="/new" style="font-weight: bold;">New Event</a>
</div>

<div id="primary">
	<h3>{{event.name}}</h3>
	<p><form method="post" style="display: inline;">
	  {% if can_approve %}<input type="submit" name="state" value="Approve" />{% endif %}
	  {% if is_admin %}<input type="submit" name="state" value="Cancel" /> 
	    <input type="submit" name="state" value="Expire" />{% endif %}
	  {% if can_staff %}<input type="submit" name="state" value="Staff" />{% endif %}
	  </form>
	</p>
	
	Status: {{event.status}}<br/>
	Start: {{event.start_time}}<br/>
	End: {{event.end_time}}<br/>
	Member: {{event.member}}<br/>
	Type: {{event.type}}<br/>
	Estimated size: {{event.estimated_size}}<br/>
	Contact: {{event.contact_name}}, {{event.contact_phone}}<br/>
	Rooms: {% for room in event.rooms %}{{room}}, {% endfor %}<br/>
	Staff: {% for staffer in event.staff %}{{staffer}}, {% endfor %}<br/>
	<br />
	Details: {{event.details}}<br/>
	URL: {{event.url}}<br/>
	Fee: {{event.fee}}<br/>
	Notes: {{event.notes}}<br/>
  
</div>


{% endblock %}