{% extends 'base.html' %}
{% block content %}

<div id="primary">
    <h3>My Events</h3>
    {% regroup events by start_date as grouped_events %}
    {% for events in grouped_events %}
    <h4>{% ifequal events.grouper today.date %}<span style="text-decoration:underline;">Today</span> - {% endifequal %}{% ifequal events.grouper tomorrow.date %}<span style="text-decoration:underline;">Tomorrow</span> - {% endifequal %}{{events.grouper|date:"l, F j"}}</h4>
    <table>
      {% for event in events.list %}
        <tr><td width="75">{{event.start_time|date:"g:iA"|lower}}</td><td><a href="/event/{{event.key.id}}-{{event.name|slugify}}">{{event.name}}</a>{% if not event.is_staffed %} <span style="color: white; font-size: x-small; padding: 2px; background: red; text-decoration: none">understaffed!</span>{% endif %}</td></tr>
        {% endfor %}
    </table>
    {% endfor %}
    
</div>


{% endblock %}
