{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" charset="utf-8">
  
$(function() {
  $("#datepicker").datepicker({minDate: 0});
  
  try {
    var formvalues = $.cookie('formvalues');
    if (formvalues) {
      formvalues = JSON.parse(formvalues);
      $('#type-select').append('<option>'+formvalues['type']+'</option>');
      for (var key in formvalues) {
        if (key!="rooms") {
          $('[name='+key+']').val(formvalues[key]);
        }
      }
      $.each($('[name=rooms]'), function(key, value) { 
        if ($(value).val()==formvalues["rooms"]) {
          $(value).attr("checked", "checked");
        }        
      });      
    }
    var formerror = $.cookie('formerror');
    if (formerror) {
      formerror = JSON.parse(formerror);
      $('#warn').hide();
      $('#error').show("slow").append("<b>Error:</b> "+ formerror);
      $.cookie('formerror', null);
    }
  } catch (err) {
    // noop
  }

});

function showOther() {
  $('#type-select').css('display','none');$('#type-text').css('display','inline');
}
function hideOther() {
  $('#type-select').css('display','inline');$('#type-text').css('display','none');
}
</script>

<div id="primary">
	<h3>New Event</h3>
	
	<div id="warn" style="margin:4px; margin-bottom:1.5em; padding:8px; border:1px solid #ffe7af; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fffaed"><b>{{human}}</b> will be held personally responsible for this event.  You must show up and ensure the rules below are followed.  Failure to make a good faith effort will result in suspension of event hosting privileges for 45 days.</div>
  <div style="margin:4px; margin-bottom:1.5em; padding:8px; color: black; display:none; border:1px solid red; background:#fee;  " id="error"></div>
  
	<div style="width: 46%; float: right; font-size: smaller; padding: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; background: #eee; line-height: normal;" id="terms">
	  <h3 style="margin-top: 0px;">Member Terms as Event Host:</h3>
	  <ol>
	    <li><strong>Schedule</strong>
	      <div>Dojo resources are allocated on a first come, first serve basis. Avoid scheduling major events on the same day. Otherwise, expect an Events Coordinator to suggest an alternate time or room.</div></li>
      <li><strong>Presence</strong>
        <div>{{human}} or one of your delegates must be physically present to host the entire event. Delegates must also be members of Hacker Dojo, and must be arranged prior to the event's submission. As event host, you take full responsibility for ensuring the event runs smoothly and the rules are enforced. If the event is cancelled, you are responsible for cancelling the event on this system and posting notice to all forums in which you advertised the event. <p>If you are submitting this application on behalf of someone else, you will still be held responsible.</div></li>
      <li><strong>Approval</strong>
        <div>The event must be approved by Event Coordinators. We reserve the right to refuse approval of events that are not considered in the spirit of Hacker Dojo.</div></li>
      <li><strong>Setup</strong>
        <div>You are responsible for your event setup. This may require setting up a day early (or at least an hour or two early!), finding projectors, moving furniture, etc.<p>In order to prepare you may book a separate event for the same space, just create a new event and select Setup Time as the event type.</div></li>
      <li><strong>Parking</strong>
        <div>We have <a href="http://wiki.hackerdojo.com/Directions#Parking" target="_blank">strict parking rules</a> that you need to convey to guests. If large enough, you may need a staff member to direct parking.</div></li>
      <li><strong>Sign-in</strong>
        <div>We require your guests to sign in with our sign-in kiosks for liability reasons. This information also helps support the Dojo by giving insight into member conversions from your event.</div></li>
      <li><strong>Blurb</strong>
        <div>You or another member should give an introduction to Hacker Dojo before the event starts. This may include mentioning Hacker Dojo sponsors but shouldn't be longer than a couple minutes.</div></li>
      <li><strong>Cleanup</strong>
        <div>Please clean up after your event! Return it to the way you found it at the very least. Consider getting guests to pitch in.</div></li>
      <li><strong>Supplies</strong>
        <div>Please refill supplies consumed. If you have a large event, your guests will consume shared resources such as snacks, toilet paper and other consumables.</div></li>
      <li><strong>Damages</strong>
        <div>You are held responsible for damages to Dojo facilities and equipment during your event.</div></li>
    </ol>
	</div>
	
	<form method="post" style="width: 49%;">
		<h4>Event Name</h4>
		<input type="text" name="name" style="width: 300px; margin-left: 4px;" />
		<h4>When</h4>
		<table style="margin: 0px;">
			<tr>
			  <td class="first"><label for="date">Date:</label>
	        <input name="date" id="datepicker" readonly="readonly"/></td>
	      <td><label for="start_time">Start Time:</label>
          <select name="start_time_hour">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
             <option>6</option>
             <option>7</option>
             <option>8</option>
             <option>9</option>
             <option>10</option>
             <option>11</option>
             <option>12</option>
           </select>:
					<select name="start_time_minute">
            <option>00</option>
		  			<option>15</option>
            <option>30</option>
		  			<option>45</option>
          </select> 
					<select name="start_time_ampm">
	          <option>pm</option>
	          <option>am</option>
          </select>
				</td>
   		</tr>
			<tr>
				<td> </td>
     		<td><label for="end_time">End Time:</label>
       		<select name="end_time_hour">
	          <option>1</option>
	          <option>2</option>
	          <option>3</option>
	          <option>4</option>
	          <option>5</option>
	          <option>6</option>
	          <option>7</option>
	          <option>8</option>
	          <option>9</option>
	          <option>10</option>
	          <option>11</option>
	          <option>12</option>
	        </select>:
					<select name="end_time_minute">
	  				<option>00</option>
	  				<option>15</option>
	  				<option>30</option>
	  				<option>45</option>
       		</select> 
					<select name="end_time_ampm">
           	<option>pm</option>
           	<option>am</option>
         	</select>
				</td>
			</tr>
		</table>
    <h4>Type of Event</h4>
    <table style="margin: 0px;"><tr>
		  <td class="first"><label for="type">Category:</label>
         <select name="type" id="type-select" onchange="if(this.value=='Other...'){showOther();$('#type-text').focus()}">
            <option>Meetup</option>
            <option>Hackathon</option>
            <option>Conference</option>
            <option>Workshop</option>
            <option>Lecture</option>
            <option>Social</option>
            <option>Setup Time</option>
						<option>Dojo Admin</option>
            <option>Other...</option>
          </select><input type="text" id="type-text" onblur="$('#type-select').append('<option>'+this.value+'</option>');$('#type-select').val(this.value);hideOther();" style="display: none;" size="15"></td>
      <td><label for="estimated_size">Expected Size:</label>
        <input type="text" name="estimated_size" size="4" style="text-align: right;" /> <span>people</span></td>
    </tr></table>
    <h4>External Contact (if applicable)</h4>
    <table style="margin: 0px;"><tr>
		  <td class="first"><label for="contact_name">Name:</label>
		    <input type="text" name="contact_name" size="16" /></td>
		  <td><label for="contact_phone">Phone Number:</label>
		    <input type="text" name="contact_phone" size="16" /></td>
		</tr></table>
		<h4>More Info (optional)</h4>
		<table style="margin: 0px;">
		  <tr><td><label for="details">Event details:</label>
		    <textarea rows="5" style="width: 300px;" name="details"></textarea></td></tr>
		  <tr><td><label for="url">Event URL:</label>
		    <input type="text" name="url" style="width: 300px;" /></td></tr>
		  <tr><td><label for="fee">Entry Fee:</label>
		    <input type="text" name="fee" size="8"/> <span style="color: gray; font-size: x-small;">Leave blank if free</span></td></tr>
		  <tr><td><label for="details">Requested Rooms:</label>
		  <span style="font-size:10;">(Capacity in parentheses)</span><br />
		    {% for room in rooms %}
			  <nobr><input type="checkbox" id="room-{{room.0}}" name="rooms" value="{{room.0}}" /><label for="room-{{room.0}}">{{room.0|title}} ({{room.1}})</label></nobr>{% endfor %}
		  </td></tr>
		  <tr><td style="padding-top: 8px;"><label for="details">Special notes:</label>
		    <textarea rows="3" style="width: 300px;" name="notes"></textarea></td></tr>
		</tr></table>
		<p style="font-size:smaller;">You have 30 days for approval before your event application expires. The primary bottleneck to quick approval is getting staff to opt in. You will be notified either way.</p>
		<p style="font-size:smaller; font-weight: bold;">By submitting this event, you agree to the responsibilities listed to the right.</p>
		<input type="submit" value="I agree, submit event for approval" style="font-size: larger; margin: 5px;" />
	</form>

</div>


{% endblock %}
