{% extends 'base.html' %}
{% block content %}

<div id="primary">
    <h3>Past Events</h3>
    <a href="/" style="font-size: smaller; margin-top: -20px; display: block;">&larr; Upcoming Events</a>
    
    {% regroup events by start_date as grouped_events %}
    {% for events in grouped_events %}
    <h4>{% ifequal events.grouper today.date %}<span style="text-decoration:underline;">Today</span> - {% endifequal %}{{events.grouper|date:"l, F j"}}</h4>
    <table>
      {% for event in events.list %}
				{% include 'list_event.html' %}
      {% endfor %}
    </table>
    {% endfor %}
    
        <p style="font-size: x-small">Alternative formats: <a href="/events.ics">iCal</a> | RSS | JSON</p>
</div>


{% endblock %}